<div class="announcement span5">
  <div class="header">
    <h5>Title</h5>
    <small class="title">DSWD</small>
  </div>
  <div class="header">
    <!-- change badge color according to status -->
    <small><strong>Required</strong></small> <span class="badge badge-info">30</span>
    <small><em>Actual</em></small> <span class="badge badge-important">5</span>
  </div>
  <div class="details">
    We need this...
  </div>
</div>