<div class="row-fluid">
  <div class="panel span3">
    <h4><i class="icon-home"></i> Relief Centers</h4>

    <div id="reliefCenters">
      Loading...
    </div>
  </div>
  <div class="panel span9">
    <h4><i class="icon-pushpin"></i> Announcements</h4>

    <div id='events'>
      Loading...
    </div>
  </div>
</div>

<% content_for :js  do %>
<script>
  $(function() {
    Events.list();
    ReliefCenters.list();
  });
</script>
<% end %>
