<div class="row-fluid">
  <div class="span3">
    <h4>Relief Centers</h4>
    <% 100.times do %>
      <%= render 'board/relief_center'  %>
    <% end %>
  </div>
  <div class="span9">
    <h4>Announcements</h4>
    
    <div id='events'>
    </div>
  </div>
</div>

<% content_for :js  do %>
<script>
  $(function() {
    Events.list();
  });
</script>
<% end %>