<div class="row-fluid">
  <div class="span3">
    <h4>Relief Centers</h4>

    <div id='reliefCenters'>
    </div>
  </div>
  <div class="span9">
    <h4>Announcements</h4>

    <div id='events'>
    </div>
  </div>
</div>

<% content_for :js  do %>
<script>
  $(function() {
    Events.list();
    ReliefCenters.list();
  });
</script>
<% end %>
