<div class="panel span6">
<h4><i class="icon-mobile-phone"></i> Send SMS Updates Test</h4>
<form class="form-horizontal" id="smsForm">
  <div class="control-group">
    <label class="control-label" for="contact_number">
      Contact Number
    </label>
    <div class="controls"><input type="text" id="contact_number" name="contact_number" value="09274010141" /></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="text_message">Message Body</label>
    <div class="controls">
      <textarea cols="40" id="text_message" name="text_message" placeholder="Message Body..." rows="5"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="send_updates">Submit</button>
    </div>
  </div>
</form>
</div>

<% content_for :js  do %>
<script>
  $(function() {
    $("#smsForm").submit(function(){
      $.ajax({
        url : '/relief_centers/send_sms',
        type : 'GET',
        dataType: 'JSON',
        data : { contact_number : $("#contact_number").val(), text_message : $("#text_message").val() },
        success : function(response) {
          var res = response.result[0];
          if (res.result) {
            alert(res.message);
            setTimeout(function(){ window.location.reload(); },1000);
          } else {
            alert('Problem sending SMS \n '+ res.message);
          }
        }
      });
      return false;
    });
  });
</script>
<% end %>