<div class="row">
  <div class="span5">
    <%= render 'event_form' %>
  </div>

  <div class="span7">
    <h4>Events</h4>
    <table id="events" class="table table-hover">
      <thead>
        <tr>
          <th width="10%">Date</th>
          <th>Title</th>
          <th width="30%">Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<% content_for :js  do %>
<script>
  $(function() {
    Events.listRCEvents('<%= current_resource.id %>');
  });
</script>
<% end %>