<div class="row">
  <div class="panel span12">
    <h4>Search</h4>
    <form class="form-search">
      <input type="text" class="input-medium" placeholder="Search Volunteer">
      <button type="button" class="btn btn-success">Time In</button>
      <button type="button" class="btn" disabled>Time Out</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="panel span12">
    <h4>Volunteers List</h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time In</th>
          <th>Time Out</th>
        </tr>
      </thead>
      <tbody>
        <% 50.times do %>
        <tr>
          <td>Lorem Ipsum</td>
          <td>11/16/13 1:30 PM</td>
          <td>11/16/13 11:30 PM</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>