<div class="row">
  <button type="button" class="btn btn-success">Time In</button>
  <div class="span12">
    <h4>Timesheet</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="50%">Time In</th>
          <th width="50%">Time Out</th>
        </tr>
      </thead>
      <tbody>
        <% 50.times do %>
        <tr>
          <td>11/16/13 01:30 PM</td>
          <td>11/16/13 11:30 PM</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>